#fondosobrenosotros{
    height: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
      )
      ,url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxENxWpn2dbf4kzetbEIlpraZDWgk1vV48lQ&usqp=CAU);
}
#sobrenosotros{
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}
.sobrenos{
    color: black;
    margin-left: 5%;
}

#nuestramision{
    margin-left: 5%;
    margin-right: 5%;
    border: solid 5px black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR3wpBual32ptzkV0KHhtjas_Wyvc23ttwkCRxDKdFb-DpiMnRa2-CJWe7MUedQ2D1s1Q&usqp=CAU);
}
#nuestramision2{
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}

#nuestramision2:hover{
    background-color: wheat;
}


#nuestrosservicios1{
    margin-left: 5%;
    margin-right: 5%;
    border: solid 5px black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR3wpBual32ptzkV0KHhtjas_Wyvc23ttwkCRxDKdFb-DpiMnRa2-CJWe7MUedQ2D1s1Q&usqp=CAU);
}
#nuestrosservicios2{
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}

.imgservicios{
    width: 320px;
    height: 340px;
    
}
#gridservicios{
margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 50px;
}
#dos{
    margin-right: 30px;
}






.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  